@model IEnumerable<ProjectForm>

@using WebApp.Helpers



@foreach (var project in Model)
{
    <div class="project-card">
        <div class="project-card-header">
            <div class="header-right">
                <div class="image-project">
                    <img src="@(string.IsNullOrWhiteSpace(project.ProjectImage) || project.ProjectImage == "NULL"
                                    ? "/images/project-default.svg"
                                    : project.ProjectImage)" alt="Project Image" />
                </div>
                <div class="project-info">
                    <span class="project-name">@project.ProjectName</span>
                    <span class="client-name">@project.ClientName</span>
                </div>
            </div>
            <div id="project-actions-container">
                <button type="button" data-type="dropdown" data-target="#project-dropdown" class="btn-action">
                    <i class="fa-solid fa-ellipsis"></i>
                </button>
                <div id="project-dropdown" class="dropdown">
                    <div class="dropdown-body">
                        <nav class="dropdown-actions">
                            <a class="dropdown-action" href="#">
                                <i class="fa-duotone fa-solid fa-pen-to-square"></i>
                                <span>Edit</span>
                            </a>
                        </nav>
                        <nav class="dropdown-actions">
                            <a class="dropdown-action" href="#">
                                <i class="fa-duotone fa-solid fa-user-plus"></i>
                                <span>Add Member</span>
                            </a>
                        </nav>
                        <div class="divider"></div>
                        <nav class="dropdown-actions">
                            <a class="dropdown-action trash" href="#">
                                <i class="fa-duotone fa-solid fa-trash"></i>
                                <span>Delete</span>
                            </a>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
        <div class="project-card-body">
            <p>@Html.Raw(project.Description)</p>
        </div>
        <div class="project-card-footer">
            <div class="project-time">
                <i class="fa-duotone fa-solid fa-clock"></i>
                <span class="">@project.EndDate.ToRemainingTime()</span>
            </div>
            <div class="project-members">
                @foreach (var member in project.Users)
                {
                    <img src="@(string.IsNullOrWhiteSpace(member?.ProfilePicture) ? "/Images/avatar-default.svg" : member.ProfilePicture)" class="member avatar" />
                }
            </div>
        </div>
    </div>
}
