@using Business.Models.UserProfile
@model IEnumerable<User>

<div class="card">
    <div class="card-body">
        <div class="card-header">
            <button class="btn-edit"></button>
        </div>
        @foreach (var users in Model)
        {
            <div class="member">
                <div class="image">
                    <img src="~/images/user-profile-man.svg" alt="user" class="profile-image">
                </div>
                <div class="full-name">@users.FirstName @users.LastName</div>
                <div class="jobtitle">@users.JobTitle</div>
                <div class="email">@users.Email</div>
                <div class="phone">@users.PhoneNumber</div>
                <button class="btn-message">Message</button>
            </div>
        }


    </div>
</div>
