
@model IEnumerable<User>


@foreach (var users in Model)
{
<div class="card">
    <div class="card-body">
        <div class="card-header">
                <button type="button" class="btn-edit" data-modal="true" data-target="#editUserProfileModal" data-user-id="@users.Id"></button>
                <label type="hidden"></label>
        </div>
   
            <div class="member">
                <div class="image">
                    <img src="@(string.IsNullOrWhiteSpace(users.ProfilePicture) || users.ProfilePicture == "NULL"
                                    ? "/images/user-profile-man.svg"
                                    : users.ProfilePicture)" 
                    alt="user" 
                    class="profile-image">
                </div>
                <div class="full-name">@users.FirstName @users.LastName</div>
                <div class="jobtitle">@users.JobTitle</div>
                <div class="email">@users.Email</div>
                <div class="phone">@users.PhoneNumber</div>
                <button class="btn-message">Message</button>
            </div>

    </div>
</div>
}